@charset "UTF-8";


.loved-by the king-regular {
    font-family: "Loved by the King", cursive;
    font-weight: 400;
    font-style: normal;
  }
  


h1#principal {
    margin: auto;
}
img#especial {
    image-resolution: 12;
}
main {
    padding: 10px;
    margin: auto;
    width: 800px;
    border-radius: 10px;
    box-shadow: 3px 4px 1px black;
    
}
body {
   background-color: beige;
   text-decoration: 'LovedbytheKing';
}
main#expecial {
    background-color: rgb(12, 82, 12); ;
    padding: 2px 2px 2px 2px;
    margin: auto;
    width: auto;
    box-shadow: 1px 2px 3px grey
}
p {
    text-align: justify;
    
}
div{
    display: inline-block;
    background-color: rgb(9, 136, 19);
    text-align: center;
    height: 20px;
    width: 100px;
    border: 2px solid black;
}
div:hover {
    background-color: rgb(134, 37, 69);
}
