@charset "UTF-8";

body {
    background-image: linear-gradient(to left, #5FCDD9, #04BFAD, #04BF9D);
}
h1 {
    color: #04BF9D;
    text-align: center;
    text-shadow: 4px 3px 2px #40eccd;
}
h2 {
    color: aqua;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
main {
    background-color: whitesmoke;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 17px;
    box-shadow: 3px 2px 1px black;
}